.DS_Store 
.RData
.Rhistory
.Rproj.user/
2016 AL starting pitching baseball reference.csv
2016 wobas.csv
Applied Predictive Modeling.pdf
Baseball Stats:Programming.Rproj
Lahman - baseballdatabank-master/
action-2017-02-16-01-54-40.csv
action-2017-02-16-01-55-21.csv
all2011.csv
atbat-2017-02-16-01-54-40.csv
atbat-2017-02-16-01-55-21.csv
baseball_R-master 2/
batters top 10.jpg
batters top 10.pdf
batters.csv
batters.pdf
bestpitches2016.csv
chadwick-0.6.5 2/
day night splits.aux
day night splits.log
day night splits.pdf
day night splits.synctex.gz
day night splits.tex
day:night splits.aux
day:night splits.log
day:night splits.pdf
day:night splits.synctex.gz
defense 2017.csv
download.folder/
fields.csv
lmer.pdf
pitch-2017-02-16-01-54-40.csv
pitch-2017-02-16-01-55-21.csv
pitchRx.sqlite3
play.matrix.csv
play.matrix.jpg
play.matrix.pdf
po-2017-02-16-01-54-41.csv
po-2017-02-16-01-55-21.csv
prv_start.R
prv_start_n.R
run_matrix.csv
run_matrix.jpg
runner-2017-02-16-01-54-41.csv
runner-2017-02-16-01-55-21.csv
wOBA' wOBA'.csv.pdf
wOBA'.csv
.Rproj.user
pitchRx.Rproj
hannah_operation.R
cody shades.png
Baseball_Programming/
